*{
    box-sizing: border-box;
    padding: 0%;
}
body {
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0%;
    
}

/* aplicando estilo al header*/
header {
    padding: 20px;
    height: 10vh;
    display: flex;
    justify-content: end;
    align-items: center;
    position: static;
    background-color: rgb(18, 85, 85, 0.877);
    position: fixed;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 1.5);
    overflow: hidden;
    }

@media (max-width: 900px) {

        header {
          display: none;
        }
    }



header .nav-header{
    padding: 20px;

}
header .nav-item{
    display: inline-block;
    color: rgb(18, 51, 114);
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;

}
header .link-nav{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;

}

header .link-nav-contact{
    text-decoration: none;
    color: rgb(18, 85, 85, 0.877);
    background-color: rgb(236, 223, 206);
    padding: 12px;
    border-radius: 20px;
}
header .nav-item:hover{
    background-color: rgb(245, 228, 207);
    border-radius: 20px;
    transition-duration: 1.5s ;

}

header .link-nav:hover{
    color: rgb(250, 243, 234);
}

header .nav-item-contact{
    display: inline-block;
    color: rgb(18, 51, 114);
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;

}

header .link-nav-contact:hover{
    background-color:rgb(18,85,85,0.877) ;
    color: aliceblue;
    transition-duration: 2s;
}
/*fin de estilos de header*/




.contenedor{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;

}

main section {
    height: 125vh;
    padding: 10vh ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}




/*estilos a la primera seccion llamada "presentación"*/
.presentacion-section{
    display: flex;
    justify-content: space-around;
    padding: 200px;
    padding-top: 300px;
    padding-right: 300px;
    background-image: url('./imagenes/fondo.png');
    background-size: cover;
    color: rgb(250, 233, 211);
    font-family: "Istok Web", sans-serif;
    align-items: normal;
}

@media (max-width: 900px) {
    .presentacion-section {
        padding: 100px 50px;
        flex-direction: column;
        align-items: last baseline;
    }
}



.presentacion-section .intro{
    padding: 16vh;

}
@media (max-width: 900px) {
    .presentacion-section .intro {
        padding: 7vh;
    }
}



@media(max-width:600px){
    .presentacion-section .imgjulieta{
        height:200px;
        width: 330px;
        padding-left: 0%;
    }

}

.presentacion-section .hola{
    font-size:70px;
    margin: 5%;
}


@media(max-width:600px){
    .presentacion-section .hola{
        font-size: 30px;
        padding-left: 3%;
    }

}

.presentacion-section .descripcion{
    font-size: 20px;
    font-weight: lighter;
    color: bisque;
}
@media(max-width:600px){
    .presentacion-section .descripcion{
        font-size: 17px;
        padding-left: 2%;
    }

}

.presentacion-section .imagen-presentacion{
    padding: 0%;
    margin: 190px;
    margin-left: 0% ;
    display: flex;

}

@media(max-width:900px){
    .presentacion-section .imagen-presentacion{
    margin: 0%;
    display: flex;
    height:33%;
    width: 33%;
    }

}





/*  section "Mis Conocimientos"  */
.conocimientos-section{
    text-align: center;
    background-color: rgb(234, 234, 250);
    overflow: hidden;
    height: max-content;
}


.titulo-section-conocimientos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vh;
}
.conocimientos-titulo{
    font-size: 50px;
    font-weight:990;
    font-size: 60px;
    color: rgb(19, 25, 26);
}
@media(max-width:800px){
    .conocimientos-titulo{
       font-size: 30px;
       font-weight: 990;
    }
}



.subtitulo-conocimientos{
    font-family: "Istok Web", sans-serif;
    font-weight: 300;
    font-size: 19px;
    padding: 60px;
    padding-top: 5px;
}
@media(max-width:800px){
    .subtitulo-conocimientos{
       font-size: 15px;
       padding: 50px;
    }
}


.cards-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline:25vh ;


}
@media(max-width:800px){
    .cards-skills{
        margin-inline:5vh ;
        padding: 10px;
    }
}


div .icon-card{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-style:solid;
    border-color: rgb(211, 211, 211);
    margin: 20px;
    width: 270px;
    height: 270px;
    font-size: 4.71em ;
}

@media(max-width:800px){
    div .icon-card{
        margin-inline: 0%;
        padding: 25px;
        width: 125px;
        height: 125px;
        font-size: 2.30em;
        margin: 5px;
    }
}

@media(max-width:800px){
    .parrafo-icono{
        margin: 5px;
        display: flex;
        justify-content: center;
    }
}

div .icon-card:hover{
    border-color: rgb(82, 134, 132);
    border-inline-color: rgb(90, 121, 120);
    background-color: #f5f6f7;
    border-color: #6da899;
    box-shadow: 1px 4px 10px rgba(74, 88, 85, 0.5); /* Sombra */ 
    transition-duration: 0.8s;
    transition-duration: 0.8s;

}

div .fa-brands.fa-html5 {
    color:rgb(221,75,37);
}
div .fa-brands.fa-css3-alt{
    color: #3d8fc6;
}
div .fa-brands.fa-sass{
    color: #cc6699;
}

div .fa-brands.fa-js{
    color:#f0db4f ;
}

div .fa-brands.fa-react{
    color: #62dafb;
}

div .fa-brands.fa-git-alt{
    color: #f34f29;
}

div .icon-card .parrafo-icono{
    font-size: 20px;
    font-weight: lighter;
    color: rgb(115, 119, 119);
}




/*section de frase*/
.section-frase{

    text-align: center;
    align-items: center;
    background-color: #90b6cf;
    font-size: 40px;
    font-family: "Istok Web", sans-serif;
    font-weight: bolder;
    color: aliceblue;
    height: 90vh;
}

.section-frase .imagen-comillas{
    height: 100px;
    width: 100px;

}
.section-frase .frase-comillas{
    padding: 60px;
}
/*termino section de frase*/






/*empiezo section de proyectos*/
.section-proyectos{
    padding: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    height: max-content;
    background-color: #ccc9c6;

}
.section-proyectos  .titulo-proyectos{
    font-size: 50px;
    font-weight:990;
    font-size: 60px;
    color: rgb(19, 25, 26);
}
.section-proyectos .parrafo-proyectos{
    font-size: 18px;
    font-family: "Istok Web", sans-serif;
    font-weight: bolder;
}
.img-proyecto{
    display: block;
    height: 270px;
    border-radius: 10px;
}
div .icon-card-proyectos{
    
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-style:solid;
    border-color: rgb(211, 211, 211);
    margin: 20px;
    width: 270px;
    height: 270px;
    font-size: 4.71em ;
}
div .icon-card-proyectos:hover{
    border-color: rgb(82, 134, 132);
    border-inline-color: rgb(90, 121, 120);
    background-color: #f5f6f7;
    border-color: #6da899;
    box-shadow: 1px 4px 10px rgba(74, 88, 85, 0.5); /* Sombra */ 
    transition-duration: 0.8s;
    transition-duration: 0.8s;

}

@media(max-width:800px){
    .parrafo-icono-proyectos{
        margin: 5px;
        display: flex;
        justify-content: center;
    }
}

div .parrafo-icono-proyectos{
    font-size: 20px;
    font-weight: lighter;
    color: rgb(115, 119, 119);
}




/*termino section de proyectos*/





/* section de formulario contacto
.section-contacto {
    background-color: #917474;
    display: flex;
    font-size: 20px;
    font-family: "Istok Web", sans-serif;
    font-weight: bold;
    align-items: flex-start;
    flex-wrap: wrap;

    
    

} */


.section-contacto .caja-formulario{
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
    height: 80vh;
    background-color: #ffffff;
    padding-inline: 50vh;
    

}
@media screen {
    
}

.section-contacto .formulario-redes{

    background-color: #ffffff;
    padding: 20px;
    font-size: medium;
    text-decoration: none;
    padding-top: 5%;
    height: min-content;
    
}



.section-contacto .contacto-redes-sociales{
    width: auto;
    background-color: #ffffff;
    font-size: medium;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    padding-top: 4%;
    height: min-content;

    
    

}

.redes-sociales .links-redes-sociales{
    display: flex;
   flex-direction: column;
   align-items: flex-start;
   background-color: #ffffff;
   padding-right: 12vh;

}
.redes-sociales .links-redes-sociales .lista-redes .link{
    padding: 3px;
    text-decoration: none;
    color: #2e2f30;
    text-decoration: none;
    list-style: none;
    
    

    

}

.redes-sociales .links-redes-sociales .lista-redes .link:hover{
    padding-inline-start: 20px;
    border-radius: 15px; 
    color: #6baa99;
    font-weight: bold;
    transition-duration: 0.5s;


    
}

.links-redes-sociales{
    text-decoration: none;
    padding: 14px;

}

.section-contacto {
    height: 120vh;
    padding: 20px;
    margin: 10vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}


.contacto-redes-sociales  .contactame-links{
    padding: 16px;
    
    
}


.contacto-redes-sociales .redes-sociales{
    margin: 10px;
    padding: 10px;


}



.section-contacto .formulario-redes .escribeme-titulo{
    padding: 10px;
    padding-left: 1%;
    padding-right: 35px;
    text-align: left;
    border-radius: 20px;
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2e2f30;
}

.boton-enviar{
    padding: 20px;
    background-color: rgb(44, 87, 107);
    border-radius: 15px;
    margin: 20px;
    display: flex;
    color: #e4d9de;
}
.boton-enviar:hover{
    border-color: #ffffff;
    box-shadow: 1px 4px 10px rgba(40, 87, 139, 0.5); 
    border-radius: 13px;
    margin: 18px;
    background-color: #ffffff;
    color: #000000;

    transition-duration: 0.3s;

}
.contactame-titulo{
    font-family: "Chango", sans-serif;
    font-weight: 400;
    color: #2e2f30;
    font-size: 4vh;
    /* /*overflow-wrap: break-word; */

}
.escribime-titulo-h2{
    font-size: 4vh;
    color: #2e2f30;

    
}
ul{
    list-style-type: none;
}

.formulario-redes .form{
    padding: 13px;
    border-radius: 15px;
    border-style: solid;
    border-color: #b8beba;
    font-weight: lighter;
    font-size: small;


}
.formulario-redes .form-mensaje{
    padding: 40px;
    border-radius: 15px;
    border-style: solid;
    border-color: #b8beba;
    font-weight: lighter;
    font-size: small;

}

.formulario-titulo{
    display: flex;
    padding: 15px;


}
.formulario-redes .form-mensaje:hover{
    border-color: #508a7b;
    box-shadow: 1px 4px 10px rgba(13, 41, 34, 0.5); /* Sombra */ 
    transition-duration: 0.8s;
}
.formulario-titulo:hover{
    color: #55626e;
    transition-duration: 0.8s;

}
.formulario-redes .form:hover{
    border-color: #508a7b;
    box-shadow: 1px 4px 10px rgba(13, 41, 34, 0.5); /* Sombra */ 
    transition-duration: 0.8s;
}




h2{
    font-size: 40px;

}


.redes-sociales-footer {
    background-color: #c28071;
    padding: 30px;
    


}footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  footer a {
    color: #315f59;
    text-decoration: none;
    margin: 0 20px;
  }
  footer a:hover {
    text-decoration: underline;
  }

footer {  
    background-color: #445b75; /* color púrpura */  
    color: white;  
    text-align: center;  
    padding: 20px 0; 
    
}  

.footer-content {  
    max-width: 1200px;  
    margin: auto;  
}  

.footer-links {  
    list-style: none;  
    padding: 0;  
}  

.footer-links li {  
    display: inline-flex;
    justify-content: space-between;
    margin:  20px;  
}  

.footer-links a {  
    text-decoration: none;  
    color: rgb(255, 255, 255);  
}  



div .fa-solid.fa-envelope{
    margin: 10px;
    color:#000000 ;
    padding: 13px;
    font-size: 24px;
    border-radius: 50%;
    border-color: #b8beba;
    background-color: #b8beba;
}

.fa-brands.fa-github-alt{
    color: #000000;
    padding: 13px;
    font-size: 24px;
    border-radius: 50%;
    border-color: #b8beba;
    background-color: #b8beba;
    margin: 10px;
}

.fa-brands.fa-twitter{
    color: #000000;
    padding: 13px;
    font-size: 24px;
    border-radius: 50%;
    border-color: #b8beba;
    background-color: #b8beba;
    margin: 10px;


}
.fa-brands.fa-linkedin{
    color: #000000;
    padding: 13px;
    font-size: 24px;
    border-radius: 50%;
    border-color: #b8beba;
    background-color: #b8beba;
    margin: 10px;

}
.fa-brands.fa-github-alt:hover{
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border-color: #b8beba;
    background-color: #b8beba;
    transition-duration: 0.5s;

}
.fa-brands.fa-twitter:hover{
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border-color: #b8beba;
    background-color: #b8beba;
    transition-duration: 0.5s;

}
.fa-brands.fa-linkedin:hover{
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border-color: #b8beba;
    background-color: #b8beba;
    transition-duration: 0.5s;

}
.fa-solid.fa-envelope:hover{
    color: #ffffff;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    background-color: #b8beba;
    transition-duration: 0.5s;


}